#title-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: "Title-Text";
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: "Regular-Text";
}