#fav-actors-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#watchListContainer {
    border-radius: 1.5em;
    border-style: solid;
    border-color: #9ca6b8;
    background-color: #214358;
    padding: 1rem;
    margin-top: 1rem;
}

#watchListItem {
    color: white;
    background-color: #151b25;
    padding: 0.5rem;
}

h3 {
    color: white;
}
