p {
    color: white;

}
h3 {
    color: white;
}
h2 {
    color: white;
}
#reviewform {
    text-align: center;
}
li {
    text-align: center;
    
}
ol {
    text-align: center;
    color: white;

}

#reviewStage {
    background-color: #214358;
    border: .3em;
    padding: 1em;
    border-radius: 1.5em;
    border-style: solid;
    top: 10em;
    height: fit-content;
    text-align: center;
}
#numberInput {
    height: 20px;
    width: 150px;
}

textarea {
    border: .1em;
    border-radius: .1em;
}

input {
    border: .3em;
    border-radius: .2em;
}

button {
    border: .3em;
    border-radius: 1.5em;
    background-color: #1c5e86;
    color: white;
}
button:hover {
    color: #214358;
    background-color: white;
}
label {
    color: white
}

#movieList {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 40%;
}