nav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2%;
}

.page-links {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

a {
  color: white;
  font-family: "Title-Text";
  border: 2px solid white;
  border-radius: 4px;
  padding: 0.5em;
  background-color: #214358;
}

a:hover {
  transition: 0.5s;
  color: white;
  background-color: black;
}