#title-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: "Title-Text";
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: "Regular-Text";
}

#movies {
    padding-top: 5%;
    padding-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 85.8em;
    gap: 1em;
}

#search-and-watchlist {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 1920px) {
    .no-movies-text {
        width: 97%;
    }
    #movies {
        width: 45%;
    }
}

#watchlist-loading {
    margin-left: 45%;
}
