.topReviewers {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 4%;
    border: 3px solid #151B25;
    background-color: #214358;
    border-radius: 10px;
    height: fit-content;
    color: white;
}

h1 {
    font-family: 'Title-Text';
    text-decoration: underline;
}

#topReviewersList {
    padding: 0;
    margin: 0;
}

#topReviewersList li {
    padding-top: 5%;
    font-family: 'Regular-Text';
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid #151B25;
    border-radius: 10px;
    padding-bottom: 2%;
}

#topReviewersList li div {
    display: flex;
    gap: 5px;
}